<launch>
    <node name="position_sensor" pkg="ssf_updates" type="position_sensor" clear_params="true" output="screen">
	    <remap from="ssf_core/imu_state_input" to="/mavros/imu/data" />

	    <remap from="ssf_core/position_measurement" to="/vslam/pose" />

	    <rosparam file="$(find ssf_updates)/position_sensor_fix.yaml"/>
    </node>
</launch>
